apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: iree-dev-zyin-pvc
  namespace: iree-dev
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 50Gi
  storageClassName: storageclass-wekafs-dir-api
